*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
}

.book {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)
             translateY(-50%);
  background-image: url("./book.jpg");
  width: 80%;
  height: 70%;
  perspective: 2000px;
  justify-content: space-between;
  box-shadow: -5px -5px 5px #d4d4d4,
              5px -5px 5px #d4d4d4,
              5px 5px 5px #d4d4d4,
              -5px 5px 5px #d4d4d4;
}

.book button {
  height: 5vh;
  width: 10vw;
}

.book .btn-prev {
  position: absolute;
  top: 110%;
  left: 20vw;
}
.book .btn-next {
  position: absolute;
  top: 110%;
  left: 50vw;
}

.book .page {
  position: absolute;
  left: 50%;
  top: 2%;
  bottom: 2%;
  margin-right: 2%;
  width: 48%;
  height: 96%;
}

.book .page .front,
.book .page .back {
  position: absolute;
  background-color: aliceblue;
  transition-duration: 1s;
  transition-property: transform;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
  transform-origin: left;
  transition-duration: 1s;
}


.book .page .front .contents,
.book .page .back .contents {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.book .page.flipped .front,
.book .page.flipped .back {
  transform: rotateY(-180deg);
}

.book .page .front {
  background-image: linear-gradient(-90deg, rgba(227,227,227,1) 0%, rgba(247,247,247,0) 18%);
  z-index: 1;
  backface-visibility: hidden;
}

.book .page .back {
  background-image: linear-gradient(90deg, rgba(227,227,227,1) 0%, rgba(247,247,247,0) 18%);
  z-index: 0;
}

.book:first-child .page .front,
.book:last-child .page .front {
  background-image: none;
}

.book .page .back .contents {
  transform: rotateY(180deg);
}